/*
Photoshop: xThin -> Font file: thin (200)
Photoshop: thin -> Font file: light (300)
Photoshop: light -> Font file: reg (400)
Photoshop: regular -> Font file: medium (500)
*/

@font-face {
  font-family: "PF Agora Sans Pro";
  src: url("../fonts/pfagorasanspro-black.woff2") format("woff2"),
       url("../fonts/pfagorasanspro-black.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "PF Agora Sans Pro";
  src: url("../fonts/pfagorasanspro-bold.woff2") format("woff2"),
       url("../fonts/pfagorasanspro-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PF Agora Sans Pro";
  src: url("../fonts/pfagorasanspro-medium.woff2") format("woff2"),
       url("../fonts/pfagorasanspro-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PF Agora Sans Pro";
  src: url("../fonts/pfagorasanspro-regular.woff2") format("woff2"),
       url("../fonts/pfagorasanspro-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PF Agora Sans Pro";
  src: url("../fonts/pfagorasanspro-light.woff2") format("woff2"),
       url("../fonts/pfagorasanspro-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PF Agora Sans Pro";
  src: url("../fonts/pfagorasanspro-thin.woff2") format("woff2"),
       url("../fonts/pfagorasanspro-thin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "PF Agora Sans Pro";
  src: url("../fonts/pfagorasanspro-xthin.woff2") format("woff2"),
       url("../fonts/pfagorasanspro-xthin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}



html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;

  font-family: "PF Agora Sans Pro", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  font-size: 26px;
  line-height: 26px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-family: "PF Agora Sans Pro", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

h2 {
  font-size: 60px;
  font-weight: 300;
  font-variant: small-caps;
}

h3 {
  font-size: 36px;
  font-weight: 500;
  font-variant: small-caps;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: inline-block;
  padding: 12px 20px;

  font-size: 22px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.06em;
  text-align: center;
  vertical-align: top;
  color: #212121;

  border: 1px solid #010101;
  border-radius: 10px;
}

@media (min-width: 600px) {

  .btn {
    padding: 15px 35px;

    font-size: 26px;
    line-height: 34px;
  }

}

.btn-danger {
  color: #ffffff;

  background-color: #e11a27;
}



.main-header .main-navigation {
  margin: 0 auto;
  margin-bottom: 20px;

  color: #000000;

  background-color: #ffffff;
}

.main-header .site-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;

  font-family: "PF Agora Sans Pro", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;

  list-style: none;
}

.site-navigation li {
  margin-bottom: 10px;
}

.main-header .user-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;

  list-style: none;
}

.user-navigation .login-link {
  display: block;
  padding-left: 45px;

  line-height: 1;

  background-image: url("../img/icons/login.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.main-header-logo {
  display: block;
  margin: 25px 0;
}

.main-header-logo img {
  display: block;
  margin: 0 auto;
}

.main-header-contact {
  display: none;
}


@media (min-width: 600px) {

  .main-header {
    margin: 20px auto;
    padding: 0 15px;
    max-width: 1200px;
  }

  .main-header .main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: none;
  }

  .main-header .site-navigation {
    position: relative;
    order: -1;

    display: block;

    margin: 0;
    margin-right: 65px;
    padding: 0;
    width: 25px;
    height: 18px;

    background-color: #ffffff;
  }

  .main-header .site-navigation::before {
    content: "";
    position: absolute;

    width: 25px;
    height: 2px;

    background-color: #000000;
    box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  }

  .site-navigation li {
    display: none;
  }

  .main-header .user-navigation {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  .main-header-logo {
    margin: 0;
    margin-right: auto;
  }

  .main-header-contact {
    position: relative;

    display: block;
    margin-right: 65px;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 36px;
    padding-right: 36px;

    font-size: 16px;
    line-height: 20px;

    background-color: #ffd200;
    border-radius: 10px;
  }

  .main-header-contact::before {
    content: "";
    position: absolute;
    left: 38px;
    right: 38px;

    width: auto;
    height: 1px;

    border-bottom: 1px dashed black;
    bottom: 10px;
  }

  .user-navigation .login-link {
    display: block;
    padding: 0;

    width: 33px;
    height: 29px;

    font-size: 0;

    background-image: url("../img/icons/login.svg");
    background-repeat: no-repeat;
  }

}



.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 200px;
  
  text-align: center;

  background-image: url("../img/main-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.promo p {
  margin: 0;
  margin-bottom: 50px;
}

.promo-slogan {
  display: block;
  margin-bottom: 20px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 200;
  letter-spacing: 0.06em;
  font-variant: small-caps;
  text-align: center;
}

.promo-subtitle {
  display: block;

  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}


@media (min-width: 600px) {

  .promo {
    padding-top: 45px;
    padding-bottom: 265px;
  }

  .promo p {
    margin-bottom: 70px;
  }

  .promo-slogan {
    margin-bottom: 10px;

    font-size: 60px;
    line-height: 60px;
    letter-spacing: 0.1em;
  }

  .promo-subtitle {
    font-size: 24px;
    line-height: 30px;
  }

}



.guide {
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 85px;
  max-width: 415px;
}

.guide-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.guide-item {
  position: relative;

  margin-bottom: 30px;
  padding-top: 158px;
  width: 139px;

  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.guide-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 139px;
  height: 139px;

  border: 5px solid #ffd200;
  border-radius: 50%;
}

.guide-item-download {
  background-image: url(../img/icons/guide-download.svg);
  background-repeat: no-repeat;
  background-size: 57px 48px;
  background-position: 50% 51px;
}

.guide-item-design {
  background-image: url(../img/icons/guide-design.svg);
  background-repeat: no-repeat;
  background-size: 54px 52px;
  background-position: 50% 43px;
}

.guide-item-pay {
  background-image: url(../img/icons/guide-pay.svg);
  background-repeat: no-repeat;
  background-size: 62px 55px;
  background-position: 50% 37px;
}

.guide-item-get {
  background-image: url(../img/icons/guide-get.svg);
  background-repeat: no-repeat;
  background-size: 52px 57px;
  background-position: 50% 43px;
}


@media (min-width: 600px) {

  .guide {
    max-width: 1024px;
  }

  .guide-item {
    margin: 0;
  }
}


@media (min-width: 1024px) {

  .guide-item::after {
    content: "";
    position: absolute;

    top: 67px;
    left: 135px;

    width: 125px;
    height: 5px;

    background-image: url("../img/icons/divider.svg");
    background-repeat: no-repeat;
    background-position: 0 50%;
  }

  .guide-item:last-child::after {
    display: none;
  }
}



.advantage {
  padding-top: 40px;
  padding-bottom: 50px;

  text-align: center;

  background-color: #f3f0e7;
}

.advantage-title {
  margin: 0;
  margin-bottom: 40px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 200;
  letter-spacing: 0.06em;
  font-variant: small-caps;
  text-align: center;
}

.advantage-list {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0;
  max-width: 320px;

  list-style: none;
}

.advantage-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  text-align: center;
}

.advantage .item-picture {
  margin-right: 20px;
  margin-left: 10px;
  width: 125px;
  height: auto;
}

.advantage .item-heading {
  margin: 0;
  margin-bottom: 20px;
  width: 150px;

  font-size: 24px;
  line-height: 1.15em;
  font-weight: 400;
  text-align: center;
  font-variant: normal;
}

.advantage .heading-part {
  display: none;
}

.advantage .item-description {
  display: none;
  margin: 0;

  font-size: 16px;
  line-height: 1.15em;
  font-weight: 400;
  text-align: center;
}


@media (min-width: 600px) {

  .advantage {
    padding-top: 50px;
    padding-bottom: 75px;
  }

  .advantage-title {
    display: flex;
    justify-content: space-around;
    margin-bottom: 55px;
    
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 0.1em;
  }

  .advantage-list {
    max-width: 1024px;
    margin-bottom: 85px;
    display: flex;
    justify-content: space-around;
  }

  .advantage-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    max-width: 267px;
  }

  .advantage .item-picture {
    margin: 0;
    margin-bottom: 20px;
    width: 200px;
  }

  .advantage .item-heading {
    margin: 0;
    margin-bottom: 20px;
    width: auto;
    min-height: 50px;

    font-size: 24px;
    line-height: 1.15em;
    font-weight: 400;
    text-align: center;
    font-variant: normal;
  }

  .advantage .item-description {
    display: block;
    margin: 0;

    font-size: 16px;
    line-height: 1.15em;
    font-weight: 400;
    text-align: center;
  }

  .advantage .heading-part {
    display: block;
  }

}

@media (min-width: 1024px) {
  
  
  .advantage-list {
    justify-content: space-between;
  }

  .advantage .item-picture {
    width: 267px;
  }

}



.payment {
  max-width: 320px;
  margin: 0 auto;
}

.payment .payment-title {
  font-size: 45px;
  line-height: 1.15em;
  font-weight: 200;
  letter-spacing: 0.06em;
  font-variant: small-caps;
  text-align: center;
}

.payment .payment-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.payment .payment-item {
  margin-bottom: 25px;
  padding-top: 38px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;

  background-color: #ffd200;
  border-radius: 10px;
}

.payment .item-heading {
  margin: 0;
  margin-bottom: 38px;

  font-size: 36px;
  line-height: 1.15em;
  font-weight: 500;
  letter-spacing: 0.12em;
  font-variant: small-caps;
  text-align: center;
}

.payment .item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-top: 18px;
  padding-left: 22px;
  padding-right: 23px;
  min-height: 250px;

  background-color: #fff;
}

.payment .content-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.payment .content-item {
  position: relative;

  margin-bottom: 12px;
  padding-left: 38px;

  font-size: 18px;
  line-height: 1.15em;
  font-weight: 500;
}

.payment .content-item:last-child {
  margin-bottom: 0;
}

.payment .content-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  background-image: url(../img/icons/checkbox.png);
  background-repeat: no-repeat;
}

.payment .item-price {
  font-size: 60px;
  line-height: 85px;
  font-weight: 400;
  text-align: center;
}

.payment .item-slogan {
  margin: 0;

  font-size: 22px;
  line-height: 1.15em;
  font-weight: 300;
  letter-spacing: 0.07em;
  text-align: center;
}


@media (min-width: 600px) {

  .payment {
    margin-top: 60px;
    margin-bottom: 65px;
    max-width: 1080px;
  }

  .payment .payment-title {
    margin-bottom: 70px;

    font-size: 60px;
    line-height: 1.15em;
    font-weight: 200;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    text-align: center;
  }

  .payment .payment-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  .payment .payment-item {
    margin-bottom: 50px;
    width: 315px;
  }


  .payment .payment-item-best {
    position: relative;
  }

  .payment .payment-item-best::before {
    content: "bestseller";
    position: absolute;

    top: -22px;
    left: 0;

    padding-top: 6px;
    padding-left: 15px;
    padding-right: 15px;
    width: 315px;
    height: 45px;

    font-size: 21px;
    line-height: 1.15em;
    font-weight: 800;
    letter-spacing: 0.06em;
    font-variant: small-caps;
    text-align: center;
    color: #e11a27;

    background-color: transparent;
    background-image: url("../img/icons/bestseller.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }

}



.reviews {
  padding-top: 30px;
  padding-bottom: 50px;

  text-align: center;

  background-image: url("../img/review-background.jpg");
  background-repeat: no-repeat;
}

.reviews-title {
  margin: 0;
  margin-bottom: 50px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 200;
  letter-spacing: 0.06em;
  font-variant: small-caps;
  text-align: center;
}

.reviews .review {
  padding: 0 10px;
}

.reviews .review-author {
  display: block;
  margin: 0 auto;
  padding-top: 35px;
  padding-left: 175px;
  max-width: 380px;
  min-height: 158px;

  background-image: url("../img/author.png");
  background-repeat: no-repeat;
}

.reviews .review-author-name {
  display: block;
  margin-bottom: 10px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-variant: small-caps;
  letter-spacing: 0.06em;
  text-align: left;
}

.reviews .review-author-about {
  display: block;

  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
}

.reviews .review-text {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
}

.reviews-next {
  position: relative;

  display: block;
  margin-bottom: 50px;
  margin-right: 10px;
  padding-right: 40px;

  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  text-transform: none;
  text-align: right;
}

.reviews-next::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;

  width: 26px;
  height: 3px;

  background-image: url("../img/icons/arrow.svg");
  background-repeat: no-repeat;
}


@media (min-width: 600px) {

  .reviews {
    padding-top: 33px;
    padding-bottom: 55px;

    background-size: cover;
    background-position: -135px 0;
  }

  .reviews-wrapper {
    margin-left: 50px;
    width: 545px;
  }

  .reviews-title {
    margin: 0;
    margin-bottom: 47px;

    font-size: 60px;
    line-height: 60px;
    font-weight: 200;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    text-align: left;
  }

  .reviews .review {
    padding: 0;
  }

  .reviews .review-author {
    margin: 0;
    margin-bottom: 23px;
    padding-top: 50px;
    padding-left: 190px;
  }

  .reviews .review-author-name {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
    font-variant: small-caps;
    letter-spacing: 0.1em;
    text-align: left;
  }

  .reviews .review-author-about {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
  }

  .reviews .review-text {
    margin-bottom: 40px;
  }

  .reviews-next {
    margin-right: 0;
    margin-bottom: 110px;
  }

}


@media (min-width: 1024px) {

  .reviews {
    text-align: left;

    background-position: center;
  }

  .reviews-wrapper {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 1024px;
  }

  .reviews .review {
    width: 545px;
  }

  .reviews-next {
    width: 545px;
  }

  .reviews .btn {
    margin-left: 80px;
  }

}



.info {
  padding: 40px 0;

  text-align: center;
}

.info-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  text-align: left;

  list-style: none;
}

.info-item {
  margin-bottom: 35px;
  width: 300px;
}

.info .item-heading {
  margin: 0;
  margin-bottom: 5px;
  padding: 15px 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-variant: small-caps;
  text-align: center;

  background-color: #ffd200;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.info .item-content {
  padding-top: 27px;
  padding-left: 38px;
  padding-right: 38px;
  min-height: 235px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 400;

  background-color: #f7f0e6;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.info .item-content p {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 400;
}

.info .payment-list {
  margin: 0;
  padding-left: 30px;

  list-style: none;
}

.info .payment-item {
  position: relative;

  margin-bottom: 9px;
}

.info .payment-item::before {
  content: "";
  position: absolute;
  left: -20px;
  top: calc(50% - 2px);

  width: 4px;
  height: 4px;

  border-radius: 50%;
  background-color: #000000;
}

.info .item-slogan {
  color: #e11a27;
  font-weight: 800;
}

.item-slogan .strong {
  font-variant: small-caps;
  letter-spacing: 0.1em;
}


@media (min-width: 600px) {

  .info {
    padding-top: 90px;
    padding-bottom: 120px;
  }

  .info-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 45px;
    max-width: 1080px;
  }

  .info-item {
    width: 315px;
  }

}



.main-footer {
  padding: 50px 0;

  background-color: #ffd200;
}

.footer-wrapper {
  margin: 0 auto;
  padding: 0 10px;
}

.main-footer .footer-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.main-footer .footer-navigation-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-top: 28px;
  min-width: 150px;

  list-style: none;
  border-top: 1px solid #000000;
}

.main-footer .footer-navigation-list-strong {
  font-variant: small-caps;
  letter-spacing: 0.1em;
}

.main-footer .footer-navigation-item {
  margin-bottom: 12px;
}

.footer-navigation-item a {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  text-transform: none;
}

.main-footer .footer-social {
  display: block;
  margin: 0 auto;
  width: 150px;
}

.main-footer .socials {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-bottom: 52px;
  padding: 0;
  padding-top: 30px;
  min-width: 150px;

  list-style: none;
  border-top: 1px solid #000000;
}

.main-footer .socials li {
  margin-right: 20px;
}

.main-footer .socials-icon {
  display: block;
  width: 24px;
  height: 24px;

  font-size: 0;
}

.main-footer .socials-icon-facebook {
  background-image: url("../img/icons/facebook.png");
}

.main-footer .socials-icon-vk {
  background-image: url("../img/icons/vk.png");
}

.main-footer .socials-icon-instagram {
  background-image: url("../img/icons/instagram.png");
}

.main-footer .developer-logo {
  position: relative;

  display: inline-block;
  margin-bottom: 40px;
  padding-top: 12px;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 84px;

  font-size: 11px;
  line-height: 11px;
  text-transform: none;
  font-weight: 500;

  border: 1px solid #000;
  border-radius: 10px;
}

.developer-logo img {
  position: absolute;
  top: 38px;
  left: 15px;
}

.main-footer .footer-copyright {
  margin: 0;

  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  text-align: center;
}

.main-footer .footer-copyright-strong {
  letter-spacing: 0.12em;
  font-variant: small-caps;
}

@media (min-width: 600px) {

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
  }

  .main-footer .footer-navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .main-footer .footer-navigation-list {
    margin-right: 40px;
  }

  .main-footer .footer-social {
    margin: 0;
  }

}


@media (min-width: 1024px) {

  .main-footer .footer-navigation-list {
    margin-right: 80px;
  }

}